<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Sentiment Graph</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Twitter Sentiment Graph</h1>
        <h3>See what the Twitter-Sphere thinks</h3>
        <input id="search-bar" type="text" placeholder="Search Twitter"/>
        <button onclick="doSearch();">Search</button>
      </div>
      <div class="content">
        {% for tweet in tweets %}
          <p>{{ tweet.text }}</p>
        {% endfor %}
      </div> 
    </div>
    
    <script>
      function doSearch() {
        var searchBar = document.getElementById("search-bar");
        document.location.href = "/sentiment/" + searchBar.value;
      }
    </script>
  </body>
</html>